<%= form_for([@post, @comment], :html => {:class => "comment_input"}) do |f| %>
  <div>
    <div class="field">
      <%= f.text_area :content %>
    </div>
    <p><%= submit_tag "Add Comment" %></p><p><%= link_to 'Mégse', post_path(@post, :anchor => "comment-#{@comment.id}") if params[:edit_comment] %></p>
  </div>
<% end %>
