Keresési eredmények: <%= @search_param %>

<% if @posts && !@posts.empty?%>
  <% @posts.each do |post| %>
    <%= render post %>
  <% end %>
  <div style="clear: both;">&nbsp;</div>
  <%= page_entries_info @posts %>
  <p><%= will_paginate @posts %></p>
<% else %>
  <div>Nincs a keresésnek megfelelő oldal!</div>
<% end %>
