<% if params[:category] %>
<h1 class="category-title"><%= params[:category] %> <span class="lower">kategóriába tartozó cikkek</span></h1>
<% else %>
  <div class="post">
    <h2 class="title">Köszöntő szöveg</h2>
    <div style="clear: both;">&nbsp;</div>
    <div class="entry">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lobortis turpis rhoncus odio lacinia imperdiet. Morbi vel urna sit amet ante semper condimentum in aliquam sem. Fusce eget ligula vel ante porta porta quis in erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc sodales ullamcorper lectus nec congue. Maecenas rhoncus placerat ultricies. Quisque cursus ullamcorper blandit. Curabitur quis iaculis turpis. Ut pulvinar pretium nunc ac auctor. Praesent ut eleifend sem. Suspendisse orci nunc, posuere in facilisis molestie, laoreet in orci. Suspendisse nec magna quis est vehicula auctor. Maecenas sit amet massa lorem. Vivamus velit ante, tristique a rutrum non, molestie faucibus ipsum. Integer pellentesque nisi id augue mollis pellentesque non interdum magna.
    </div>
  </div>
<% end %>

<% @posts.each do |post| %>
  <%= render post %>
<% end %>
<div style="clear: both;">&nbsp;</div>
<%= page_entries_info @posts %>
<%= will_paginate @posts %>
